$green: #bada55;
$dark-green: #89a20c;
$gray: #6b6659;
$tan: #cbcbba;
$red: #b3151a;
$black: #000;
$white: #fff;

$base-font-size: 16px;
$base-line-height: 24px;

$default-box-shadow-color: $black;
$default-box-shadow-blur: 10px;
