<div id="deprecation-notice">
  <h1>Regexper</h1>

  <p>Your browser is no longer supported by the current version of Regexper. Upgrade your browser to the latest version, or visit <a href="http://old.regexper.com/">the old Regexper</a>.</p>
</div>
