<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Regexper{{#if file.frontMatter.title}} - {{file.frontMatter.title}}{{/if}}</title>

    <meta name="description" content="Regular expression visualizer using railroad diagrams" />
    <meta name="viewport" content="width=device-width" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="author" href="humans.txt" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Bangers&text=Regxpr" />
    <link rel="stylesheet" href="/css/main.css" />
    <!-- Built: {{date}} -->
  </head>
  <body>
    <!--[if lte IE 8]>
      {{> "ie8_notice"}}
    <![endif]-->
    <!--[if gt IE 8]> <!-->
    <script type="text/html" id="svg-container-base">
      {{> "svg_template"}}
    </script>

    <header>
      <div class="logo">
        <h1><a href="/">Regexper</a></h1>
        <!-- n. One who regexpes -->
        <span>You thought you only had two problems&hellip;</span>
      </div>

      <nav>
        <ul>
          <li>
            <a class="inline-icon" href="/changelog.html"><img alt="" src="/images/open-iconic/list-rich.svg">Changelog</a>
          </li>
          <li>
            <a class="inline-icon" href="/documentation.html"><img alt="" src="/images/open-iconic/document.svg">Documentation</a>
          </li>
          <li>
            <a class="inline-icon" href="https://github.com/javallone/regexper-static"><img alt="" src="/images/open-iconic/code.svg">Source on GitHub</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="content">
      {{#block "body"}}{{/block}}
    </main>

    <footer>
      {{#block "footer"}}
        <ul class="inline-list">
          <li>Created by <a href="mailto:jeff.avallone@gmail.com">Jeff Avallone</a></li>
          <li>
            Generated images licensed:
            <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" src="https://licensebuttons.net/l/by/3.0/80x15.png" /></a>
          </li>
        </ul>
      {{/block}}
    </footer>
    <!-- <![endif]-->
  </body>
</html>
