@import url('../../globals.css');

footer {
  display: flex;
  align-items: flex-start;
  margin: var(--spacing-margin) 0;

  @media screen and (max-width: 800px) {
    display: block;
  }

  & ul {
    @apply --inline-list;
    @apply --with-separator-left;
    flex: 1;
  }

  & img {
    vertical-align: text-top;
    width: 80px;
    height: 15px;
  }

  & .buildId {
    color: color(var(--color-brown) blend(var(--color-tan) 25%));
  }
}
