:root {
  --color-green: #bada55;
  --color-brown: #6b6659;
  --color-tan: #cbcbba;
  --color-black: #000;
  --color-white: #fff;
  --color-red: #b3151a;
  --color-orange: #fa0;
  --color-blue: #025d8c;

  --gradient-green: linear-gradient(to bottom,
    var(--color-green) 0%,
    color(var(--color-green) shade(40%)) 100%);

  --header-height: 6rem;
  --content-margin: 2rem;
  --spacing-margin: 1rem;

  --list-reset: {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  --inline-list: {
    @apply --list-reset;

    & li {
      list-style-type: none;
      display: inline-block;
      white-space: nowrap;
    }
  }
  --list-separator-width: 2ex;
  --separator-style: {
      content: '//';
      padding: 0 0.5rem;
      display: inline-block;
      box-sizing: border-box;
      width: var(--list-separator-width);
  }
  --with-separator-left: {
    overflow: hidden;

    & li {
      padding-right: var(--list-separator-width);
    }

    & li:before {
      @apply --separator-style;
      margin-left: -var(--list-separator-width);
    }

    & li:last-child {
      padding-right: 0;
    }

    & li:first-child:before {
      visibility: hidden;
    }
  }
  --with-separator-right: {
    overflow: hidden;

    & li {
      padding-left: var(--list-separator-width);
    }

    & li:after {
      @apply --separator-style;
      margin-right: -var(--list-separator-width);
    }

    & li:first-child {
      padding-left: 0;
    }

    & li:last-child:after {
      visibility: hidden;
    }
  }
}
