{{#extend "layout"}}
  {{#content "body"}}
    <div class="application">
      <form id="regexp-form">
        <textarea id="regexp-input" autofocus="autofocus" placeholder="Enter JavaScript-style regular expression to display"></textarea>
        <button type="submit">Display</button>

        <ul class="inline-list">
          <li class="download-svg">
            <a href="#" class="inline-icon" data-action="download-svg" download="image.svg" type="image/svg+xml">{{icon "#data-transfer-download"}}Download SVG</a>
          </li>
          <li class="download-png">
            <a href="#" class="inline-icon" data-action="download-png" download="image.png" type="image/png">{{icon "#data-transfer-download"}}Download PNG</a>
          </li>
          <li class="permalink">
            <a href="#" class="inline-icon" data-action="permalink">{{icon "#link-intact"}}Permalink</a>
          </li>
        </ul>
      </form>
    </div>

    <div class="results">
      <div id="error"></div>

      <ul id="warnings"></ul>

      <div id="regexp-render"></div>
    </div>

  {{/content}}

  {{#content "footer" mode="append"}}
    <script src="/js/main.js" async defer></script>
  {{/content}}
{{/extend}}
